/* ---------------------- Fonts ---------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lobster&display=swap');

/* --------------------------- General ---------------------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    color: white;
}

header{
    background-color: rgb(95, 92, 92);
    width: 100%;
    height: 100vh;
}

header > nav{
  float: left;
    width: 100%;
}

header > nav > ul{
    float: left;
    width: 50%;
}

header>nav>ul>li{
    float: left;
    list-style: none;
    padding: 10px;
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    list-style-type: none;
}

header > nav> ul > li> a{
    text-decoration: none;
    color: white;
}


header>nav>button{
    float: right;
    width: 150px;
    height: 40px;
    padding: 8px;
    border-radius: 5%;
    background-color: rgb(248, 239, 239);
    text-align: center;
    font-size: 1.7rem;
    letter-spacing: 3px;
    text-decoration: none;
    margin-right: 2%;
    margin-top: 6px;
}

header>nav> button:hover{
    background-color: rgb(79, 76, 76);
    color: white;
}


header > nav > p{
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    float: left;
    margin-top: 6px;
}


/*------------------------------------ Header Heading and Vdo Section------------------------------------*/

header> section{
    float: left;
    text-align: center;
    background-color: rgb(95, 92, 92);
    margin-top: 5%;
    width: 100%;
}

header > section > h1{
  font-size: 4.5rem;
}

header > section >p{
   font-size: 1.5rem;
   margin-top: 2%;
   margin-bottom: 2%;
   margin-left: 20%;
   margin-right: 20%;
}

header > section > video{
    width: 400px;
}
header + section{
    background-color: rgb(238, 235, 230);
    width: 100%;
    height: 300px;
    color: black;
    float: left;
    text-align: center;
    font-size: 4.5rem;
     
}

header + section > h1{
    margin-top: 3%;
    padding: 30px;
}
header + section > p{
    font-size: 1.5rem ;
    margin-left: 20%;
   margin-right: 20%;
}


#main-section{
    float: left;
    width: 100%;
    background-color: rgb(182, 178, 178);
    color: black;
    height: 100vh;
}

.sub-section{
    float: left;
    width: 40%;
    margin-top: 10%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.sub-section> img, h2, p, button{
        margin-bottom: 5%;
        font-size: 2rem;
}

.sub-section >p{
    font-size: 1.5rem;
}

.sub-section >button{
    width: 150px;
    height: 40px;
    color: black;
    border: none;
    cursor: pointer;
    background-color: inherit;
    border: 1px solid grey;
}

.sub-section> button:hover{
    background-color: rgb(79, 76, 76);
    color: white;
}

section >section > img{
    height: 200px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}


.last-section{
    float: left;
    width: 100%;
    color: black;
    height: 500px;
    background-color: rgb(238, 235, 230);
    text-align: center;
}

.last-section > h1{
    font-size: 4.5rem;
    margin-top: 8%;
    margin-bottom: 3%;
}

.last-section > p{
    font-size: 1.5rem;
    margin-left: 15%;
    margin-right: 15%;
    word-spacing: 4px;
    word-wrap: normal;
}

.last-section >button{
    width: 150px;
    height: 40px;
    color: black;
    border: none;
    cursor: pointer;
    background-color: none;
    border: 1px solid grey;
}

.last-section> button:hover{
    background-color: rgb(79, 76, 76);
    color: white;
}


footer#footer{
   float: left;
   width: 100%;
   background-color:  rgb(95, 92, 92);
   height: 250px;
}

footer>section:nth-child(1)>ul{
    float: left;
    width: 50%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

footer>section:nth-child(1)>ul>li{
    float: left;
    width: 8%;
    list-style: none;
}

i{
    font-size: 2rem;
    padding: 10px;
    background-color: white;
    color: rgb(95, 92, 92);;
    border-radius: 2px;
}

.fa-github-alt:hover{
    color: black;
}

.fa-twitter:hover{
    color: rgb(22, 171, 221);
}

.fa-facebook:hover{
    color: blue;
}

footer>section:nth-child(1)>ul + ul {
    float: left;
    width: 50%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: none;
}

footer > section:nth-child(1) >ul + ul > h4{
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(143, 137, 137);
}

footer > section:nth-child(1) >ul + ul>li{
    float: left;
    width: 10%;
    list-style: none;
    font-size: 1.5rem;
}

footer > section:nth-child(1) >ul + ul > li > a{
    text-decoration: none;
    color: white;
}

footer > section:nth-child(1) >ul:nth-child(3){
    margin-top: 4px;
}

footer > section:nth-child(1) >ul:nth-child(2){
    margin-top: 4px;
}

ul:nth-child(2)>li>a:hover,
ul:nth-child(3)>li>a:hover{
    color:black;
}

footer>section:nth-child(2){
    float: right;
    margin-top: -100px;
    margin-right: 2%;
    width: 15%;
}

/* footer>section:nth-child(2)>ul{
    float: left;
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
} */

footer >section:nth-child(2)>ul>address{
        font-size: 1.5rem;
}
/*------------------------ Responsiveness ----------------------------------*/

@media screen and (max-width: 600px){
    header > section > h1{
        font-size: 3.5rem;
      }
      header > nav >button{
          float: left;
            text-align: center;
            width: 100%;
      }

      header > nav > p{
        font-family: 'Lobster', cursive;
        font-size: 2.5rem;
        float: right;
        margin-right: 2%;
    }      
      header > section > video{
          width: 80%;
      }

      header + section > h1{
        margin-top: 3%;
        padding: 30px;
        font-size: 3.5rem;
    }

    .sub-section >button{
        width: 100px;
        height: 40px;
        color: black;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }

    .sub-section > img{
        width: 50%;
        height: 50%;
    }
}


@media screen and (max-width: 1100px){
    footer>section:nth-child(1)>ul>li{
        float: left;
        width: 10%;
        list-style: none;
        margin-right: 6px;
    }
    footer > section:nth-child(1) >ul + ul>li{
        margin-right: 6px;
    }
    footer>section:nth-child(2){
        float: right;
        margin-top: -100px;
        margin-right: 5%;
        width: 15%;
    }


}