*{
    box-sizing: border-box;
}

header, footer{
    height: 100px;
    color: white;
    background-color: black;
    border: 1px solid red;
    clear: both; /* Will care about the float and leave some space for float to come back down and won't merge with the header*/
}

section{
    height: 400px;
    border: 2px solid black;
    float: left;
}

#section1, #section3,#section4{
    width:15%;
    background-color: rgb(209, 190, 15);
}

#section2{
    width: 55%;
    background-color: rgb(23, 192, 204);
}